.bg-main {
    background-color: #10A38F;
    border-color: #10A38F;
}

.color-main {
    color: #10A38F;
}

.modal-title-center {
    margin-inline-start: auto;
}

.modal-post-tag {
    /*overflow-y: scroll;*/
    /*max-height: 100px;*/
}

.my-main-center {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #F1FAF8;
}

.main-center-top {
    background-color: #fff;
    width: 100%;
}

.profile-top-left {
    text-align: right;
    margin: auto;
}

.profile-top-right {
    text-align: left;
    margin: auto;
}

.profile-edit {
    position: relative;
}

.profile-edit>label {
    color: #B5B5B5;
    margin-bottom: 0px;
}

.profile-edit>strong {
    color: #5C5C5C;
}

.profile-edit-btn {
    position: absolute;
    top: 17px;
    right: 0px;
    font-size: 22px;
    color: #B5B5B5;
    cursor: pointer;
}

.my-box-shadow {
    box-shadow: 1px 6px 11px -7px darkgrey;
}

.my-bg-gray {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.my-txt-5c {
    color: #5C5C5C;
}

.my-txt-79 {
    color: #797979;
}

.my-btn-group-gray {
    background-color: #e4edeb;
    /*border-color: #F2F2F2;*/
    text-align: left;
    margin-bottom: 10px;
    /*padding: 10px 5px;*/
    color: #5C5C5C;
    border-radius: 10px;
    padding: 17px;
}

.my-btn-group-blue {
    background-color: #10A38F;
    border-color: #10A38F;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px 5px;
    color: #fff;
    border-radius: 10px;
}

.my-btn-tag {
    padding: 5px 15px;
    display: inline;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    color: #797979;
    margin: 5px;
}

.my-btn-tag:hover{
    background-color: #e4edeb;
}

.my-btn-rank {
    border: 1px solid #C9C9C9;
    background-color: #F2F2F2;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.main-group-post {
    border-radius: 10px;
    padding: 25px 5px;
    background-color: #fff;
    min-height: 100vh;
}

.main-group-user {
    width: 100%;
    /*padding: 0px 20px 30px 20px;*/
    min-height: 100vh;
}

.main-group-post-user {
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #fff;
    min-height: 100vh;
}

.group-footer {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #5C5C5C;
}

.my-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*.group-post {
    padding: 10px 20px;
}*/

.group-name>a {
    color: #5C5C5C;
}

.group-time {
    color: #5C5C5C;
}

.btn-user-group {
    width: 100%;
    border: none;
    background-color: #fff;
    border-radius: 7px;
    text-align: left;
    padding: 25px 30px;
    color: #5C5C5C;
    position: relative;
    /*box-shadow: 0px 1px 8px 0px #5C5C5C;*/
}

.btn-user-group::before {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 37px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #B5B5B5;
}

.square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background: #fff;
    border-radius: 50%;
}

.robocoin-img {
    position: relative;
    top: -30px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.my-font-menu {
    font-size: 0.8em;
}

.custom-checkbox-input {
    display: none;
}

.modal-post-tag {
    padding: 0;
}

.custom-checkbox-text {
    padding: 4px 8px;
    margin: 3px;
    border: 1px solid #C9C9C9;
    color: #5C5C5C;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
}

.custom-checkbox-input:checked~.custom-checkbox-text {
    background-color: #10A38F;
    color: white;
}

.block-avatar {
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.block-avatar-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.group-active,
.group-list:hover {
    background-color: #10A38F;
    border-color: #10A38F;
    color: white;
}

.rank-active,
.rank-list:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    flex: none;
}

.menu-active,
.menu-list:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/*--------------------------Minh CSS----------------------*/
/*Common CSS*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    margin-bottom: 0;
}
a:hover{
    text-decoration: none;
}
.h-42{
    height: 42px;
}
.font-30{
    font-size: 30px!important;
}
.font-17{
    font-size: 17px!important;
}
.font-16{
    font-size: 16px!important;
}
.font-15{
    font-size: 15px!important;
}
.font-14{
    font-size: 14px!important;
}
.font-13{
    font-size: 13px!important;
}
.font-11{
    font-size: 11px!important;
}
.font-10{
    font-size: 10px!important;
}
.border-radius-8{
    border-radius: 8px!important;
}
.color-79{
    color: #797979;
}
.text-color{
    color: #5C5C5C!important;
}
.border-style{
    border: 1px solid #C9C9C9!important;
}
.left-sidebar,
.right-sidebar{
    flex: 0 0 22%;
    max-width: 22%;
    -ms-flex: 0 0 22%;
}
.left-sidebar{
    padding-right: 40px;
}
.right-sidebar{
    padding-left: 40px;
}
.main-content{
    flex: 0 0 56%;
    max-width: 56%;
    -ms-flex: 0 0 56%;
}
/*End common CSS*/

#navbar_top{
    padding: 25px 0!important;
}

.top-3button .menu-active, .top-3button .menu-list:hover{
    background: #797979;
    color: #fff;
}
.top-3button a{
    color: #C9C9C9;
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: center;
}
.top-3button a:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.top-3button a:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.top-select{
    border-radius: 8px;
    padding: 0.375rem 2.5rem 0.375rem 1rem;
}
.top-search-btn span{
    padding-left: 17px;
}
.top-search-btn input{
    background: #F2F2F2;
    border: none;
    font-size: 11px;
    padding-left: 2.8rem!important;
    min-width: 246px;
}
.top-username{
    color: #5C5C5C;
    margin-bottom: 0!important;
}
.write-button{
    border-radius: 8px;
    min-width: 180px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.write-button img{
    margin-left: 5px;
}
.write-button span{
    margin-left: 15px;
}
.tag-btn a{
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    margin-left: 0;
}
.tag-btn a:hover{
    background-color: #e4edeb;
}
.rank-list{
    padding: 4px 12px!important;
    line-height: 20px!important;
    border: 1px solid #C9C9C9!important;
}
.ranking-title{
    display: flex;
    align-items: flex-end;
}
.group-like span{
    color: #10A38F;
}
.wrap-post-footer{
    display: flex;
    flex-wrap: nowrap;
}
.main-group-post .group-post:last-child hr{
    display: none;
}
.btn-user-group label{
    color: #5C5C5C;
}
.follow-btn{
    background: #319D88;
    color: #fff;
    padding: 3px 5px 5px;
    border-radius: 3px;
    float: right;
    display: flex;
    align-items: center;
}
.follow-btn i{
    color: #FFEC00;
    margin-right: 5px
}
.unfollow-btn{
    background: #fff;
    color: #797979;
    padding: 3px 5px 5px;
    border-radius: 3px;
    float: right;
    display: flex;
    align-items: center;
    border: 1px solid;
}
.unfollow-btn i{
    color: #797979;
    margin-right: 5px
}
.profile-edit label{
    font-size: 11px;
    margin-bottom: 3px;
}
.profile-edit strong{
    font-weight: normal;
}
.login100-form .form-group input{
    min-height: 40px;
    max-width: 345px;
    margin: 0 auto;
}
.login100-form .form-group::placeholder {
    color: #C9C9C9;
}
.write-post{
    min-width: 600px;
}
.write-post .modal-content{
    border-radius: 10px;
}
.write-post .modal-header{
    padding: 20px 0;
}
.input-post-textarea::placeholder{
    font-size: 23px;
    color: #C9C9C9;
}
.wrap-tag-img{
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    /*padding: 15px 20px;*/
}
.tag-button{
    background: #fff;
    padding: 4px 10px;
    border-radius: 8px;
}

.input-file-trigger {
    display: block;
    padding: 5px 55px 7px;
    background: #10A38F;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.post-button{
    background: #10A38F;
    padding: 15px;
}
.post-close {
    opacity: 1;
}

.comment-block .input-cmt{
    background: #F2F2F2;
    padding: 4px 8px;
}
.input-cmt input{
    border-radius: 15px!important;
}
.input-cmt input::placeholder{
    font-size: 13px;
    color: #C9C9C9;
}
.content-cmt{
    padding: 4px 8px;
}
.wrap-cmt-content{
    background: #F5F5F5;
    padding: 10px 15px 15px;
    border-radius: 12px;
    color: #5C5C5C;
}
.cmt-name{
    margin-bottom: 10px;
}
.wrap-noti{
    width: 300px;
    word-wrap: break-word;
    padding: 12px 10px;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #10A38F;
    border-radius: 50%;
    display: inline-block;
}
.noti-content,
.noti-time{
    margin-left: 15px;
    margin-top: -2px;
    margin-bottom: 10px;
}
.wrap-noti a{
    margin-top: 20px;
    display: block;
}
.wrap-noti a:hover{
    background: #e4edeb;
    border-radius: 8px;
}
.group-tags a:first-child{
    margin-left: 0;
}
/* input[type="search"] {
    margin-left: 10px;
} */