body {
    background-color: #FFD700;
    min-height: 100vh;
}

#div-logo {
    max-width: 90px;
    max-height: 90px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 90px;
}

#img-logo {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 50px;
}

.card-img-top {
    width: 100%;
}

.item-card {
    margin-bottom: 1rem;
}

.card {
    padding: 2.5rem 2rem 0.25rem 2rem;
    border-radius: 10px;
}

.card-title {
    text-align: left;
    font-size: 1rem;
    color: #5C5C5C;
}

.card-title>a {
    color: #5C5C5C;
}

.card-body {
    padding: 1rem 0rem;
    color: #5C5C5C;
}

.card-text {
    font-size: 0.8rem;
}

.card-price {
    text-align: right;
    font-size: 1.5rem;
}

.card-price>span {
    font-size: 1.5rem;
}

.card-price>img {
    padding-right: 30px;
}

.card-price-number {
    position: absolute;
    top: 3px;
    right: 25px;
}

.btn-card-order {
    background-color: #10A38F;
    color: #fff;
    /*padding: 0.3rem 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;*/
    padding: 11px 50px;
    border-radius: 40px;
}

.card-bottom {
    text-align: right;
    font-size: 0.6rem;
    color: #5C5C5C;
    padding-top: 1rem;
}

.card-hr {
    border-top: 2px solid #707070;
}

#myReturnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
}

#myReturnTop>img {
    margin-bottom: 0.3rem;
    ;
}

#myReturnTop>span {
    font-size: 0.8rem;
}

#myReturnTop:hover {
    color: red;
}
.btn-card-order:hover{
    background: #fff;
    color: #10A38F;
    border: 1px solid #10A38F;
}